body{
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: white;
    box-shadow: none;
}

.section .container img{
    width: 100%;
    object-fit: cover;
}

.block {
display: flex;
justify-content: center;
}

p{
    font-size: 1.5em;
    line-height: 1.5em;
}

.black-text{
    font-size: 1.5em;
}

.links{
    display: flex;
}